---
title: "Cachoeira do Zeca"
date: "2008/05/20"
---
<p>Atrativo natural quase intocado, de águas límpidas e rasas, com no máximo 1 metro de profundidade.</p>
<p>Uma pequena ponte feita com um tronco de árvore liga as duas margens. Há um salto sobre uma grande pedra, seguindo lentamente e formando uma pequena praia fluvial.</p>
<p>A cachoeira continua seu curso descendo em uma extensa corredeira que é avistada ás margens da estrada.</p>
<p>O local apresenta áreas com sombra, mata nativa e plantações de eucalipto nas proximidades.</p>
<p>Na parte mais baixa há uma área com capacidade de servir de estacionamento para até 8 veículos.</p>
<p>A Cachoeira do Zeca fica localizada a 21 km de distância da sede do município.</p>