---
title: "Cachoeira da Bica"
date: "2008/05/20"
---
<p>Cachoeira na margem esquerda da BR–262 (sentido Minas Gerais), em frente ao restaurante e lanchonete Casa da Bica.</p>
<p>A cachoeira forma um grande salto sobre uma pedra, com altura aproximada de 30m. A água é cristalina e desce sob uma ponte localizada na BR–262.</p>
<p>No local há 2 bicas jorrando água, ambas são usadas para banhos, o local também dispõe de 2 pequenas pontes de madeira para o usufruto de turistas e pedestres e uma roda d’água.</p>
<p>A Cachoeira da Bica fica localizada a 30km de distância da sede do município</p>