---
title: "Calendário de Eventos 2008"
date: "2008/05/20"
---
<p>
  <strong>
    <u>FEVEREIRO</u>
  </strong>
</p>

<p>
  <strong>Evento:</strong>Carnaval da Alegria -01 a 05/02 - <strong>Local:</strong>Sede
</p>

<p>
  <strong>
    <u>MARÇO</u>
  </strong>
</p>

<p>
  <strong>Evento:</strong>Vila dos Coelhos -21,22 e 23/04 - <strong>Local</strong>: Sede
</p>
<p>
  
  <strong>Evento:</strong>Encenação da Paixão de Cristo - 21/04 - <strong>Local:</strong>Sede
</p>
<p>
  
  <strong>Evento:</strong>Festa do Padroeiro São José - <strong>Local:</strong>Santa Maria
</p>

<p>
  <strong>Evento:</strong>Festa de Nossa Senhora da Penha - <strong>Local:</strong>Sede
</p>

<p>
  <strong>
    <u>MAIO</u>
  </strong>
</p>

<p>
  <strong>Evento:</strong>Festmoto - 01 a 04/05 - <strong>Local:</strong>Sede
</p>
<p>
  
  <strong>Evento:</strong>Festa da Padroeira Santa Rita de Cássia - <strong>Local:</strong>Sede
</p>

<p>
  <strong>
    <u>JUNHO</u>
  </strong>
</p>

<p>
  <strong>Evento:</strong>Madeira Show – 27 a 29/06 - <strong>Local:</strong>Sede
</p>