---
title: "Capela de Santo Antônio"
date: "2008/05/20"
---
<p>Restaurada no ano de 1998, a Capela encontra-se em processo de tombamento. A 1º Igreja de Santo Antônio foi construída em 12 de dezembro de 1891, feita de madeira e com a porta de entrada voltada para o leste, por onde passava a antiga estrada de tropeiros. Resultado da união da fé das famílias Borgo, Ganho, Ronchi, Monteverde e outras.</p>
<p>Em 1938, por iniciativa da família Borgo a igreja foi reconstruída em pedra e tijolo, ganhando o atual altar, fabricado por Pedro Tassis e Anacleto Borgo. O local é caracterizado por muitas histórias, que são contadas pelos antepassados. Uma delas diz que ali próximo instalaram-se caratingas, que eram verdadeiros cangaceiros, quando um deles resolveu mirar a cabeça de Santo Antônio para atirar através da porta, que era de ripa, a bala nem mesmo acertou a porta e a partir deste dia eles também começaram a respeitar Santo Antônio.</p>
<p>Todos os anos no mês de julho é realizada a festa de Santo Antônio, com barraquinhas típicas, musica e dança.</p>