---
title: "Casa Rosa"
date: "2008/05/20"
---
<p>A Casa Rosa foi residência dos pais do Sr. Hilton Ezequiel Ronchi, que restaurou toda a sua estrutura e resgatou mobília, vestimentas e utensílios originais da casa, oferecendo uma exposição permanente em todos os cômodos da casa.<br />É uma simulação do dia-a-dia dos antigos moradores, que eram imigrantes italianos.</p>
<p>Observações complementares: recebe visitas somente mediante agendamento prévio, com o atual proprietário do atrativo, Sr. Hilton Ezequiel Ronchi Filho.</p>
<p>Telefone:(27) 3223-3501 e (27) 3288-3067.</p>