---
title: "Centro Cultural Ezequiel Ronchi"
date: "2008/05/20"
---
<p>A edificação que abriga o Centro Cultural foi o primeiro prédio de Estado do Espírito Santo destinado ao ensino primário público, na vila de Araguaia.</p>
<p>Depois de 50 anos de uso como colégio e outras destinações, o prédio ficara praticamente abandonado às ruínas. Todavia, pessoas de boa vontade da região juntamente com o apoio do empresário Natalino Litig restauraram a construção e o Centro Cultural foi criado.</p>
<p>Funcionando desde 1995, possui um acervo de quase 500 peças antigas que compõem o seu museu, como forma da preservação da cultura local. São fotos, documentos, mobiliários, utensílios e outros objetos em exposição.</p>