---
title: "Estação Ferroviária da Sede"
date: "2008/05/20"
---
<p>O grande veículo que aproximou os colonos com a atividade brasileira foi um “rio de ferro”, que era a Estrada de Ferro Leopoldina. Com seus trilhos cortando montanhas, comunicava Vitória com o Rio de Janeiro, conduzindo não só materiais como passageiros.</p>
<p>A Estação Ferroviária de Marechal Floriano foi inaugurada em 15 de maio de 1900 e fica localizada em frente a Praça José Henrique Pereira, no centro da cidade.</p>
<p>Atualmente a edificação da antiga estação da Sede pertence à Prefeitura Municipal de Marechal Floriano, que a utiliza para abrigar as secretarias municipais de Cultura e o Centro Cultural.</p>