---
title: "Gruta de Nossa Senhora de Lourdes"
date: "2008/05/20"
---
<p>É uma pequena gruta natural, ás margens do asfalto, que servia de abrigo para os fundadores de Santa Maria, em torno do ano de 1880.</p>
<p>Ali eles descansavam e dormiam na época em que desbravavam as matas da região.</p>
<p>Hoje, a gruta guarda a Estátua de Nossa Senhora de Lourdes, protegida dentro de um abrigo de madeira, a ao seu lado aparece uma placa com os dizeres “Aqui descansavam os heróicos fundadores de Santa Maria”.</p>
<p>A gruta tem altura média de 1,70m e profundidade máxima de 2m e fica localizada a 16Km da sede do município.</p>