---
title: "Igreja de Santo Antônio"
date: "2008/05/20"
---
<p>A Igreja foi inaugurada pelos italianos em 10 de dezembro de 1891. O fundador foi Pedro Borgo. A edificação possui arquitetura de estilo românico, com destaque para um frontão com uma estrela de cor azul. O local é mais visitado no dia do padroeiro, 13 de junho, quando se realiza festa em sua homenagem.</p>
<p>Localidade de Santo Antônio do Araguaia, a 20 km da sede, com acesso pavimentado.</p>