---
title: "Mirante do Grossmutter"
date: "2008/05/20"
---
<p>Com altitude média de 805 metros, o local proporciona vista panorâmica do entorno e das cidades de Vitória e Vila Velha (terceira ponte e praias).</p>
<p>No local onde o mirante está situado existe uma porção de Mata Atlântica preservada.</p>
<p>O Mirante se localiza próximo ao Restaurante Grossmutter, entre a Sede e a região do Manaim a 0,5Km da sede do município.</p>