---
title: "Orquidário Nego Plantas"
date: "2008/05/20"
---
<p>Comercializa aproximadamente 100 esp&eacute;cies de plantas entre orqu&iacute;deas, brom&eacute;lias e plantas ornamentais. Algumas delas, para cole&ccedil;&atilde;o, n&atilde;o est&atilde;o a venda.<br />Contato pelo telefone: (27) 3288-1207</p>