---
title: "Feira Livre de Marechal Floriano"
date: "2008/05/20"
---
<p>A feira comercializa variedades de olerícolas produzidos na zona não urbana do município, além de pães e biscoitos caseiros, flores e outros artigos.<br />Acontece próximo a prefeitura Municipal de Marechal Floriano.</p>