<h1>Tar&iacute;fas</h1>
<p><strong>TABELA DE DI&Aacute;RIAS</strong><br />
  (V&Aacute;LIDOS DE JANEIRO A MAIO E DE SETEMBRO A DEZEMBRO/2009):</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong>* Apartamento no Chal&eacute;</strong></td>
    <td><strong>* 2&ordf; a 5&ordf;&nbsp;</strong></td>
    <td><strong>6&ordf; a Domingo</strong></td>
  </tr>
  <tr>
    <td>Individual.............................................</td>
    <td>R$ &nbsp;85,00..............................</td>
    <td>R$100,00</td>
  </tr>
  <tr>
    <td>Individual c/ ventilador........................</td>
    <td>R$100,00..............................</td>
    <td>R$115,00</td>
  </tr>
  <tr>
    <td>Individual c/ ar.....................................</td>
    <td>R$115,00..............................</td>
    <td>R$130,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Duplo Casal.........................................</td>
    <td>R$110,00..............................</td>
    <td>R$125,00</td>
  </tr>
  <tr>
    <td>Duplo Casal c/ ventilador.....................</td>
    <td>R$125,00..............................</td>
    <td>R$140,00</td>
  </tr>
  <tr>
    <td>Duplo Casal c/ar..................................</td>
    <td>R$140,00..............................</td>
    <td>R$155,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Triplo...................................................</td>
    <td>R$125,00..............................</td>
    <td>R$150,00</td>
  </tr>
  <tr>
    <td>Triplo c/ ar...........................................</td>
    <td>R$150,00..............................</td>
    <td>R$170,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Qu&aacute;druplo...........................................</td>
    <td>R$140,00..............................</td>
    <td>R$175,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Qu&iacute;ntuplo.............................................</td>
    <td>R$155,00..............................</td>
    <td>R$190,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">*acr&eacute;scimo de camas extras..............................................................</td>
    <td>R$30,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Apartamentos simples</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Individual.............................................</td>
    <td>R$70,00................................</td>
    <td>R$85,00</td>
  </tr>
  <tr>
    <td>Duplo / Casal.......................................</td>
    <td>R$85,00................................</td>
    <td>R$100,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">*N&atilde;o dispon&iacute;vel cama extra nestas hospedagens</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Descontos</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Viajantes.............................................</td>
    <td>R$65,00................................</td>
    <td>Tarifa normal</td>
  </tr>
  <tr>
    <td>Representantes comerciais.................</td>
    <td>R$85,00................................</td>
    <td>Tarifa normal</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Descontos autorizados:</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">* 05% at&eacute; tr&ecirc;s di&aacute;rias seguidas;</td>
  </tr>
  <tr>
    <td colspan="3">* 10% para mais de tr&ecirc;s di&aacute;rias:</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="0">
  <tr>
    <td>
      <p>Check-in das 13:00hs &agrave;s 20:00hs e check-out ao meio dia.</p>
      <p>Ap&oacute;s o hor&aacute;rio do check-out ser&aacute; cobrado um acr&eacute;scimo de 1/3 do valor da di&aacute;ria durante as 3 primeiras horas de perman&ecirc;ncia do h&oacute;spede na pousada e 50% de acr&eacute;scimo at&eacute; a 6&ordf; hora. Ap&oacute;s esse per&iacute;odo ser&aacute; cobrado o valor integral de uma di&aacute;ria.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>Condi&ccedil;&otilde;es de pagamento</strong></p>
    </td>
  </tr>
  <tr>
    <td>No ato da reserva dever&aacute; ser efetuado um dep&oacute;sito no valor de 50% do valor total da mesma, sendo o restante efetuado no ato do check-out. <br />
      <br />
      A reserva s&oacute; ser&aacute; confirmada ap&oacute;s o recebimento do comprovante de dep&oacute;sito atrav&eacute;s do fax. <br />
      <br />
      O prazo para cancelamento da reserva &eacute; de 48hs antes da data marcada.
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<p><strong>TABELA DE DI&Aacute;RIAS</strong><br />
  (V&Aacute;LIDOS DE JUNHO A AGOSTO):</p>
<p>&nbsp;</p>
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong>* Apartamento no Chal&eacute;</strong></td>
    <td><strong>*2&ordf; a 5&ordf;&nbsp;</strong></td>
    <td><strong>6&ordf; a Domingo</strong></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Individual.............................................</td>
    <td>R$ &nbsp;85,00..............................</td>
    <td>R$145,00</td>
  </tr>
  <tr>
    <td>Individual c/ ventilador........................</td>
    <td>R$100,00..............................</td>
    <td>R$160,00</td>
  </tr>
  <tr>
    <td>Individual c/ ar.....................................</td>
    <td>R$115,00..............................</td>
    <td>R$175,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Duplo Casal.........................................</td>
    <td>R$110,00..............................</td>
    <td>R$165,00</td>
  </tr>
  <tr>
    <td>Duplo Casal c/ ventilador....................</td>
    <td>R$125,00..............................</td>
    <td>R$180,00</td>
  </tr>
  <tr>
    <td>Duplo Casal c/ar..................................</td>
    <td>R$140,00..............................</td>
    <td>R$195,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Triplo....................................................</td>
    <td>R$125,00..............................</td>
    <td>R$180,00</td>
  </tr>
  <tr>
    <td>Triplo c/ ar............................................</td>
    <td>R$150,00..............................</td>
    <td>R$200,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Qu&aacute;druplo............................................</td>
    <td>R$140,00..............................</td>
    <td>R$205,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Qu&iacute;ntuplo.............................................</td>
    <td>R$155,00..............................</td>
    <td>R$225,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">*acr&eacute;scimo de camas extras..............................................................</td>
    <td>R$40,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Apartamentos simples</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Individual.............................................</td>
    <td>R$95,00................................</td>
    <td>R$120,00</td>
  </tr>
  <tr>
    <td>Duplo / Casal.......................................</td>
    <td>R$120,00..............................</td>
    <td>R$145,00</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">*N&atilde;o dispon&iacute;vel cama extra nestas hospedagens</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Descontos</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td>Viajantes..............................................</td>
    <td>R$65,00................................</td>
    <td>Tarifa normal</td>
  </tr>
  <tr>
    <td>Representantes comerciais..................</td>
    <td>R$45,00................................</td>
    <td>tarifa normal</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">
      <strong>* Descontos autorizados:</strong>
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">* 05% at&eacute; tr&ecirc;s di&aacute;rias seguidas;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">* 10% para mais de tr&ecirc;s di&aacute;rias:</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="0">
  <tr>
    <td>
      <p>Check-in das 13:00hs &agrave;s 20:00hs e check-out ao meio dia.</p>
      <p>Ap&oacute;s o hor&aacute;rio do check-out ser&aacute; cobrado um acr&eacute;scimo de 1/3 do valor da di&aacute;ria durante as 3 primeiras horas de perman&ecirc;ncia do h&oacute;spede na pousada e 50% de acr&eacute;scimo at&eacute; a 6&ordf; hora. Ap&oacute;s esse per&iacute;odo ser&aacute; cobrado o valor integral de uma di&aacute;ria.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td>
      <p><strong>Condi&ccedil;&otilde;es de pagamento</strong></p>
    </td>
  </tr>
  <tr>
    <td>No ato da reserva dever&aacute; ser efetuado um dep&oacute;sito no valor de 50% do valor total da mesma, sendo o restante efetuado no ato do check-out. <br />
      <br />
      A reserva s&oacute; ser&aacute; confirmada ap&oacute;s o recebimento do comprovante de dep&oacute;sito atrav&eacute;s do fax. <br />
      <br />
      O prazo para cancelamento da reserva &eacute; de 48hs antes da data marcada.
    </td>
  </tr>
</table>